@font-face {
  font-family: "iconfont"; /* Project id 4487328 */
  src: url('iconfont.woff2?t=1713881368551') format('woff2'),
       url('iconfont.woff?t=1713881368551') format('woff'),
       url('iconfont.ttf?t=1713881368551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-mic:before {
  content: "\e678";
}

.icon-smile:before {
  content: "\e67e";
}

.icon-gas:before {
  content: "\e6bf";
}

.icon-drawing:before {
  content: "\e6e7";
}

.icon-science:before {
  content: "\e6eb";
}

.icon-book:before {
  content: "\e6ee";
}

.icon-talk-reduce:before {
  content: "\e672";
}

.icon-user:before {
  content: "\e68a";
}

.icon-home:before {
  content: "\e6c7";
}

.icon-shoppingcart:before {
  content: "\e6d6";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

