@font-face {
  font-family: "iconfont"; /* Project id 4487328 */
  src: url('iconfont.woff2?t=1713920279242') format('woff2'),
       url('iconfont.woff?t=1713920279242') format('woff'),
       url('iconfont.ttf?t=1713920279242') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-knowledge:before {
  content: "\e705";
}

.icon-message-add:before {
  content: "\e675";
}

.icon-user-group:before {
  content: "\e68c";
}

.icon-emot-smile:before {
  content: "\e69b";
}

.icon-mic1:before {
  content: "\e6a0";
}

.icon-menu:before {
  content: "\e6f3";
}

.icon-a-caijingzoushiqushi:before {
  content: "\e7ea";
}

.icon-daima:before {
  content: "\e7eb";
}

.icon-a-gongsichengshijianzhu:before {
  content: "\e7ec";
}

.icon-a-huazhiwu:before {
  content: "\e7ed";
}

.icon-a-luxianfangxiangdaohangweizhi:before {
  content: "\e7ee";
}

.icon-a-shaloujiazaishijian:before {
  content: "\e7ef";
}

.icon-a-yansesecaiseka:before {
  content: "\e7f0";
}

.icon-a-ufoyuzhoufeichuanwaixingfeichuanwaixingren:before {
  content: "\e7f1";
}

.icon-books:before {
  content: "\e7f2";
}

.icon-measure:before {
  content: "\e7f4";
}

.icon-platform:before {
  content: "\e7f6";
}

.icon-rest:before {
  content: "\e7f7";
}

.icon-subway:before {
  content: "\e7f8";
}

.icon-wine:before {
  content: "\e7fa";
}

.icon-talk-reduce:before {
  content: "\e672";
}

.icon-user:before {
  content: "\e68a";
}

.icon-home:before {
  content: "\e6c7";
}

.icon-shoppingcart:before {
  content: "\e6d6";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

