.page-container,
.tabbar-page-container {
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}
.card {
  padding: 30rpx 20rpx;
  border-radius: 30rpx;
  background-color: #fff;
  margin: 0 10rpx;
}

.tabbar-page-container {
  padding-bottom: 100rpx;
}

.dicon {
  font-size: 44rpx;
  color: inherit;
}
